<div class="app">
  <div class="hero">
    <div class="hero__main">
      <p class="hero__logo">what's the weather?</p>
      {{#simple-form as |formValues|}}
        <div class="hero__form">
          <label for="city" class="hero__label">city</label> {{input class="hero__input" value=formValues.city id="city"}}
          <label for="state" class="hero__label">state</label>
          <select class="hero__select" id="state">
            <option>Alabama</option>
            <option>Alaska</option>
            <option>Arizona</option>
            <option>Arkansas</option>
            <option>California</option>
            <option>Colorado</option>
            <option>Connecticut</option>
            <option>Delaware</option>
            <option>Florida</option>
            <option>Georgia</option>
            <option>Hawaii</option>
            <option>Idaho</option>
            <option>Illinois</option>
            <option>Indiana</option>
            <option>Iowa</option>
            <option>Kansas</option>
            <option>Kentucky</option>
            <option>Louisiana</option>
            <option>Maine</option>
            <option>Maryland</option>
            <option>Massachusetts</option>
            <option>Michigan</option>
            <option>Minnesota</option>
            <option>Mississippi</option>
            <option>Missouri</option>
            <option>Montana</option>
            <option>Nebraska</option>
            <option>Nevada</option>
            <option>New Hampshire</option>
            <option>New Jersey</option>
            <option>New Mexico</option>
            <option>New York</option>
            <option>North Carolina</option>
            <option>North Dakota</option>
            <option>Ohio</option>
            <option>Oklahoma</option>
            <option>Oregon</option>
            <option>Pennsylvania</option>
            <option>Rhode Island</option>
            <option>South Carolina</option>
            <option>South Dakota</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Utah</option>
            <option>Vermont</option>
            <option>Virginia</option>
            <option>Washington</option>
            <option>West Virginia</option>
            <option>Wisconsin</option>
            <option>Wyoming</option>
            </select>{{!-- {{#power-select
            options=state
            selected=formValues.quantity
            onchange=(action (mut formValues.quantity))
            as |value|}}
            {{value}}
          {{/power-select}} --}}
          <button class="hero__button">Submit</button>
        </div>
      {{/simple-form}}
    </div>
  </div>

  <div class="app__main">
    <div class="container">
        <div class="weather">
          <div class="weather__group">
            <p class="weather__state">{{model.current_observation.display_location.city}}</p>
            <p class="weather__city">{{model.current_observation.display_location.state}}</p>
          </div>
          <div class="weather__group">
            <img src="{{model.current_observation.icon_url}}" class="weather__icon" alt="">
            <p class="weather__temp">{{model.current_observation.temp_f}}</p>
          </div>
          <p class="weather__feels">Feels like: {{model.current_observation.feelslike_f}}</p>
      {{log model}}
    </div>
  </div>
</div>
</div>
