<div class="app">
  <div class="hero">
    <div class="hero__main">
      <p class="hero__logo">what's the weather?</p>
    </div>
  </div>

  <div class="app__main">
    <div class="container">
      {{#simple-form as |formValues|}}
        <div class="form">
          <label for="city" class="form__label">city</label> {{input class="form__input" value=formValues.city id="city"}}
          <label for="state" class="form__label">state</label>
          <select class="form__input" id="state">
            <option value=formvalues.current_observation.display_location.state>AL</option>
            <option value=formvalues.current_observation.display_location.state>AK</option>
            <option value=formvalues.current_observation.display_location.state>AZ</option>
            <option value=formvalues.current_observation.display_location.state>AR</option>
            <option value=formvalues.current_observation.display_location.state>CA</option>
            <option value=formvalues.current_observation.display_location.state>CO</option>
            <option value=formvalues.current_observation.display_location.state>CT</option>
            <option value=formvalues.current_observation.display_location.state>DE</option>
            <option value=formvalues.current_observation.display_location.state>FL</option>
            <option value=formvalues.current_observation.display_location.state>GA</option>
            <option value=formvalues.current_observation.display_location.state>HI</option>
            <option value=formvalues.current_observation.display_location.state>ID</option>
            <option value=formvalues.current_observation.display_location.state>IL</option>
            <option value=formvalues.current_observation.display_location.state>IN</option>
            <option value=formvalues.current_observation.display_location.state>IA</option>
            <option value=formvalues.current_observation.display_location.state>KS</option>
            <option value=formvalues.current_observation.display_location.state>KY</option>
            <option value=formvalues.current_observation.display_location.state>LA</option>
            <option value=formvalues.current_observation.display_location.state>ME</option>
            <option value=formvalues.current_observation.display_location.state>MD</option>
            <option value=formvalues.current_observation.display_location.state>MA</option>
            <option value=formvalues.current_observation.display_location.state>MI</option>
            <option value=formvalues.current_observation.display_location.state>MN</option>
            <option value=formvalues.current_observation.display_location.state>MS</option>
            <option value=formvalues.current_observation.display_location.state>MO</option>
            <option value=formvalues.current_observation.display_location.state>MT</option>
            <option value=formvalues.current_observation.display_location.state>NE</option>
            <option value=formvalues.current_observation.display_location.state>NV</option>
            <option value=formvalues.current_observation.display_location.state>NH</option>
            <option value=formvalues.current_observation.display_location.state>NJ</option>
            <option value=formvalues.current_observation.display_location.state>NM</option>
            <option value=formvalues.current_observation.display_location.state>NY</option>
            <option value=formvalues.current_observation.display_location.state>NC</option>
            <option value=formvalues.current_observation.display_location.state>ND</option>
            <option value=formvalues.current_observation.display_location.state>OH</option>
            <option value=formvalues.current_observation.display_location.state>OK</option>
            <option value=formvalues.current_observation.display_location.state>OR</option>
            <option value=formvalues.current_observation.display_location.state>PA</option>
            <option value=formvalues.current_observation.display_location.state>RI</option>
            <option value=formvalues.current_observation.display_location.state>SC</option>
            <option value=formvalues.current_observation.display_location.state>SD</option>
            <option value=formvalues.current_observation.display_location.state>TN</option>
            <option value=formvalues.current_observation.display_location.state>TX</option>
            <option value=formvalues.current_observation.display_location.state>UT</option>
            <option value=formvalues.current_observation.display_location.state>VT</option>
            <option value=formvalues.current_observation.display_location.state>VA</option>
            <option value=formvalues.current_observation.display_location.state>WA</option>
            <option value=formvalues.current_observation.display_location.state>WV</option>
            <option value=formvalues.current_observation.display_location.state>WI</option>
            <option value=formvalues.current_observation.display_location.state>WY</option>
          </select>
          <button class="form__button">submit</button>
        </div>
      {{/simple-form}}
        <div class="weather">
          <div class="weather__group">
            <p class="weather__state">{{model.current_observation.display_location.city}}</p>
            <p class="weather__city">{{model.current_observation.display_location.state}}</p>
          </div>
          <div class="weather__group">
            <img src="{{model.current_observation.icon_url}}" class="weather__icon" alt="">
            <p class="weather__temp">{{model.current_observation.temp_f}}</p>
          </div>
          <p class="weather__feels">Feels like: {{model.current_observation.feelslike_f}}</p>
    </div>
  </div>
</div>
</div>
